---
layout: archive
title: ""
permalink: /publications/
author_profile: true
---

<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %} -->

<div class="wordwrap">Here, you can check out my <a href="#journal">Journal Articles</a>, <a href="#conf_full">Peer-Reviewed Conference Paper</a>, and Conference Presentation with Abstract. You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>

<div id="journal" style="font-size: 32px; font-weight: bold;">Journal Article</div>

{% include base_path %}

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %}

<div id="conf_full" style="font-size: 32px; font-weight: bold; font-style: normal;">Peer-Reviewed Conference Paper</div>

{% include base_path %}

{% for post in site.publications_conf_full reversed %}
  {% include archive-single.html %}
{% endfor %}

<!-- 
{% include base_path %}

{% for post in site.publications_conf_full reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<!-- New style rendering if publication categories are defined
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}


 -->
